<%- include ('../include/header.ejs') %>
<div class="container mt-5" style="max-width: 600px;">
  <h1 class="mb-3">회원 로그인</h1>
  <hr>
  <form action="/auth" method="POST" name="auth-form">
    <table class="table">
      <tbody>
        <tr>
          <td class="title">아이디</td>
          <td class="content"><input type="text" name="userid" class="form-control"></td>
        </tr>
        <tr>
          <td class="title">패스워드</td>
          <td class="content"><input type="password" name="userpw" class="form-control"></td>
        </tr>    
      </tbody>
    </table>
    <div class="text-center my-3">
      <button class="btn btn-primary">로그인</button>
    </div>
  </form>
</div>
<%- include ('../include/footer.ejs') %>